name: Deploy to Server

on:
  push:
    branches:
      - main   # main branch-də push olanda işlə

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build Docker image
        run: docker build -t handora-frontend .

      - name: Push to server
        uses: appleboy/ssh-action@v0.1.5
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            docker pull handora-frontend || true
            docker stop handora-frontend || true
            docker rm handora-frontend || true
            docker run -d -p 80:80 --name handora-frontend handora-frontend
